{% extends 'base.html.twig' %}

{% block title %}Liste des téléphones disponibles{% endblock %}

{% block body %}
	<main class="main-page" aria-label="phone-index">
		<section class="container mt-5 d-none d-md-block">
			<h1>Etat du stock:</h1>

			<table class="table">
				<thead>
					<tr>
						<th>Marque</th>
						<th>Modèle</th>
						<th>Ram</th>
						<th>Stockage</th>
						<th>Etat</th>
						<th>Prix</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for phone in phones %}
						<tr>
							<td>{{ phone.marque.name }}</td>
							<td>{{ phone.modele.name }}</td>
							<td>{{ phone.ram }} Go</td>
							<td>{{ phone.stockage }} Go</td>
							<td>{{ phone.etat }}</td>
							<td>{{ phone.prix }}€</td>
							<td>
								<div class="row row-cols-auto justify-content-center">
									<a class="btn btn-primary rounded rounded-pill fw-bold text-light px-3 my-lg-auto my-1" href="{{ path('app_phone_show', {'id': phone.id}) }}">Créer une affiche</a>
									<button class="btn btn-danger rounded rounded-pill fw-bold text-light px-3 btn-sm my-auto ms-2"  data-bs-toggle="modal" data-bs-target="#deleteModal{{ phone.id }}">Supprimer</button>

									<!-- Modal -->
									<div class="modal fade" id="deleteModal{{ phone.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="deleteModalLabel">Confirmation de suppression</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													Voulez-vous vraiment supprimer le téléphone {{ phone.modele.name }} ?
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal">Annuler</button>
													<form method="post" action="{{ path('app_phone_delete', {'id': phone.id}) }}">
														<input type="hidden" name="_method" value="DELETE">
														<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ phone.id) }}">
														<button class="btn btn-danger text-white">Supprimer</button>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="6">Aucun téléphone en stock</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</section>

		<section class="container-lg text-center my-4">
			<a class="btn btn-secondary rounded rounded-pill px-4 fw-bold text-light mx-auto" href="{{ path('app_home') }}">Ajouter un nouveau téléphone</a>
		</section>

	</main>

    <script src="https://unpkg.com/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
{% endblock %}
