{% extends 'base.html.twig' %}

{% block title %}Liste des téléphones disponibles
{% endblock %}

{% block body %}
	<main class="main-page" aria-label="phone-index">

		<section class="container-lg text-center my-4 d-md-none d-block">
			<a class="btn btn-secondary rounded rounded-pill px-4 fw-bold text-light mx-auto" href="{{ path('app_home') }}">Ajouter un nouveau téléphone</a>
		</section>

		<section class="container mt-3 d-md-none d-block">

			{% for phone in phones %}

				<article class="border border-primary border-2 rounded-4 my-1 py-2 px-2">
					<div>
						<span>
							<strong>Marque:</strong>
						</span>
						<span>
							{{ phone.marque.name }}
						</span>
					</div>
					<div>
						<span>
							<strong>Modèle:</strong>
						</span>
						<span>
							{{ phone.modele.name }}
						</span>
					</div>
					<div>
						<span>
							<strong>RAM:</strong>
						</span>
						<span>
							{{ phone.ram }}
						</span>
					</div>
					<div>
						<span>
							<strong>Stockage:</strong>
						</span>
						<span>
							{{ phone.stockage }}
						</span>
					</div>
					<div>
						<span>
							<strong>Etat:</strong>
						</span>
						<span>
							{{ phone.etat }}
						</span>
					</div>
					<div>
						<span>
							<strong>Prix:</strong>
						</span>
						<span>
							{{ phone.prix }}
						</span>
					</div>
					<div>
						<div class="row row-cols-auto justify-content-center">
							<a class="btn btn-primary rounded rounded-pill fw-bold btn-sm text-light px-3 my-lg-auto my-1" href="{{ path('app_phone_show', {'id': phone.id}) }}">Créer une affiche</a>
							<div class="my-auto">{{ include('phone/_delete_form.html.twig') }}</div>
						</div>
					</div>
				</article>

			{% endfor %}

		</section>

		<section class="container mt-5 d-none d-md-block">
			<h1>Etat du stock:</h1>

			<table class="table">
				<thead>
					<tr>
						<th>Marque</th>
						<th>Modèle</th>
						<th>Ram</th>
						<th>Stockage</th>
						<th>Etat</th>
						<th>Prix</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for phone in phones %}
						<tr>
							<td>{{ phone.marque.name }}</td>
							<td>{{ phone.modele.name }}</td>
							<td>{{ phone.ram }}
								Go</td>
							<td>{{ phone.stockage }}
								Go</td>
							<td>{{ phone.etat }}</td>
							<td>{{ phone.prix }}€</td>
							<td>
								<div class="row row-cols-auto justify-content-center">
									<a class="btn btn-primary rounded rounded-pill fw-bold text-light px-3 my-lg-auto my-1" href="{{ path('app_phone_show', {'id': phone.id}) }}">Créer une affiche</a>
									<div class="my-auto">{{ include('phone/_delete_form.html.twig') }}</div>
								</div>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="6">Aucun téléphone en stock</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</section>

		<section class="container-lg text-center my-4">
			<a class="btn btn-secondary rounded rounded-pill px-4 fw-bold text-light mx-auto" href="{{ path('app_home') }}">Ajouter un nouveau téléphone</a>
		</section>


	</main>
{% endblock %}
