{% extends 'base.html.twig' %}

{% block title %}Liste des téléphones disponibles
{% endblock %}

{% block body %}
	<h1>Etat du stock:</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Marque</th>
				<th>Modèle</th>
				<th>Ram</th>
				<th>Stockage</th>
				<th>Etat</th>
				<th>Prix</th>
                <th>Date d'entrée</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for phone in phones %}
				<tr>
					<td>{{ phone.marque.name }}</td>
					<td>{{ phone.modele.name }}</td>
					<td>{{ phone.ram }}
						Go</td>
					<td>{{ phone.stockage }}
						Go</td>
					<td>{{ phone.etat }}</td>
					<td>{{ phone.prix }}€</td>
                    <td>{{ phone.entryDate|date("d/m/Y") }}</td>
					<td>
						<div class="row row-cols-auto">
							<a class="col6 btn btn-primary btn-sm me-2" href="{{ path('app_phone_show', {'id': phone.id}) }}">Voir les détails</a>
                            <a class="col6 btn btn-primary btn-sm" href="{{ path('app_phone_delete', {'id': phone.id}) }}">Marquer comme vendu</a>
							{# <div class="col6">{{ include('phone/_delete_form.html.twig') }}</div> #}
						</div>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">Aucun téléphone en stock</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-primary" href="{{ path('app_home') }}">Ajouter un nouveau téléphone</a>
{% endblock %}
