{% extends 'base.html.twig' %}

{% block title %}Détail du téléphone{% endblock %}

{% block body %}
<h1 class="text-center pt-2">Détail du téléphone</h1>
<div class="row-cols-2 d-flex justify-content-center">
    <div class="card mt-4 mx-3 p-3 rounded shadow-lg printable">
        <p><strong>Modèle:</strong> {{ phone.modele.name }}</p>
        <p><strong>Marque:</strong> {{ phone.marque.name }}</p>
        <p><strong>Etat:</strong> {{ phone.etat }}/10</p>
        <p><strong>Status:</strong>
            {% if phone.isSold is same as false %}
            En vente
            {% else %}
            Vendu
            {% endif %}
        </p>

        <h3 class="text-center mb-2 pb-2">Fiche Technique</h3>
        <p><strong>Taille de l'écran:</strong> {{ ficheTechnique.ScreenSize }}</p>
        <p><strong>Processeur:</strong> {{ ficheTechnique.processeur }}</p>
        <p><strong>Batterie:</strong> {{ ficheTechnique.batterie }}</p>
        <p><strong>Photo:</strong> {{ ficheTechnique.photo }}</p>
        <p><strong>Poids:</strong> {{ ficheTechnique.poids }}</p>

        <p><strong>Ce téléphone est estimé à:</strong> {{ phone.prix }}€</p>
        <div onclick="window.print()" class="no-print text-end" style="cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-printer"
                viewBox="0 0 16 16">
                <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
                <path
                    d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z" />
            </svg>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center mt-4">
    <a class="btn btn-primary text-white" href="{{ path('app_phone_index') }}">Retour à la liste</a>
</div>

{% if is_granted('ROLE_USER') and not phone.isSold %}
<div class="d-flex justify-content-center mt-4">
    <button type="button" class="btn btn-primary text-white" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Le téléphone à été vendu ?
    </button>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                    Téléphone Vendu
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form name="user" method="get" enctype="multipart/form-data" class="m-2">
                    <div class="mb-3 form-check">
                        <label class="form-check-label" for="isSold">Je confirme que ce téléphone
                            {{phone.marque.name}} {{phone.modele.name}} à bien été vendu</label>
                        <input type="checkbox" class="form-check-input" id="isSold" name="isSold">
                    </div>
                    <button type="submit" class="btn btn-primary text-white">Confirmer</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}