{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<h1 class="text-center text-blue mt-5">Inscrivez-vous</h1>

<div class="d-flex justify-content-center">
    <div class="col-9 col-md-6">
        <div class="card text-blue shadow-lg p-2 mt-4">
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.firstname, {
            label: 'Prénom'
            }) }}
            {{ form_row(registrationForm.lastname, {
            label: 'Nom de famille'
            }) }}
            {{ form_row(registrationForm.email, {
            label: 'Email'
            }) }}
            {{ form_row(registrationForm.plainPassword, {
            label: 'Mots de passe'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary my-3 text-white">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
