{% extends 'base.html.twig' %}

{% block title %}Discussion index{% endblock %}

{% block body %}
<h1>Discussion index</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Content</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for discussion in discussions %}
        <tr>
            <td>{{ discussion.id }}</td>
            <td>{{ discussion.Title }}</td>
            <td>{{ discussion.content }}</td>
            <td>
                <a href="{{ path('discussion_show', {'id': discussion.id}) }}">show</a>
                <a href="{{ path('discussion_edit', {'id': discussion.id}) }}">edit</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('discussion_new') }}">Create new</a>
{% endblock %}
