{% extends 'base.html.twig' %}

{% block title %}Discussion{% endblock %}

{% block body %}
<h1>Discussion</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ discussion.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ discussion.Title }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ discussion.content }}</td>
        </tr>
    </tbody>
</table>

<a href="{{ path('discussion_index') }}">back to list</a>

<a href="{{ path('discussion_edit', {'id': discussion.id}) }}">edit</a>

{{ include('discussion/_delete_form.html.twig') }}
{% endblock %}
