{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Liste des utilisateurs</h1>

        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Rôles</th>
                    <th class="ps-3">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.roles|join(', ') }}</td>
                        <td>
                            <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary rounded rounded-pill fw-bold text-light px-3 my-lg-auto my-1">Modifier</a>
                            <button class="btn btn-danger rounded rounded-pill fw-bold text-light px-3 btn-sm my-auto ms-2" data-bs-toggle="modal" data-bs-target="#deleteModal{{ user.id }}">Supprimer</button>

                            <!-- Modal -->
                            <div class="modal fade" id="deleteModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel">Confirmation de suppression</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Voulez-vous vraiment supprimer l'utilisateur {{ user.email }} ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal">Annuler</button>
<form method="POST" action="{{ path('user_delete', {'id': user.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger text-white">Supprimer</button>
</form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://unpkg.com/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
{% endblock %}
