{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}
<main class="container">
    <h1 class="text-center">Forum</h1>
    <div class="d-flex justify-content-between">
        <h2>Liste des discussion :</h2>
        <a href="{{ path('discussion_new') }}">
            <button class="btn btn-primary text-white">Créer une discussion</button>
        </a>
    </div>
    <hr>
    {% for discussion in discussions %}
    <div class="card bg-primary border-secondary border-3 shadow-lg text-white m-3">
        <h3 class="card-header">{{ discussion.title|u.truncate(16, '...', false) }}</h3>
        <div class="card-body">
            <p>{{ discussion.content|striptags|u.truncate(100, '...', true) |raw }}</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <p>
                {% for category in discussion.category %}
                {{category.name}} /
                {% endfor %}
            </p>
            <a href="{{ path('discussion_show', {id:discussion.id}) }}">
                <button class="btn btn-secondary shadow-lg text-white">Voir discussion</button>
            </a>
        </div>
    </div>
    {% endfor %}

</main>
{% endblock %}